<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Libsodium CRUD</title>

        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body>
        <!-- Header -->
        <header class="text-gray-600 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                    <span class="ml-3 text-xl">Lib-crud</span>
                </a>
                <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
                    <a class="mr-5 hover:text-gray-900" href="/">Create</a>
                    <a class="mr-5 hover:text-gray-900" href="/verify">Verify</a>
                    <a class="mr-5 hover:text-gray-900" href="/generate-sign">Generate sign</a>
                </nav>
            </div>
        </header>
        <!-- /Header -->
    </body>
</html>
